body {
	background-color: rgb(167, 255, 137);
}

.greeting {
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.greeting__message, .last-period {
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	text-transform:  uppercase;
	font-size: 2rem;
	display: inline-block;
}

.last-period.hide {
	opacity: 0;
}